<section data-ng-controller="SideMenuController">


	 <p> Explore </p>
	    <div class="btn-group btn-group-vertical">
	      <ul>
		      <li> <a href = "#!/lore">Lore </a></li>
		      <li> <a href = "#!/lore">Library </a></li>
		      <li> <a href = "#!/lore">Characters</a> </li>
		      <li><a href = "#!/highscores"> HighScores</a> </li>
		      <li> <a href = "#!/lore">Guilds </a></li>
		      <li><a href = "#!/lore"> Rules </a></li>
		      <li><a href = "#!/lore"> Changelog </a></li>
		      <li> <a href = "#!/lore">Faq </a></li>
		      <li> <a href = "#!/lore">Beta Shop </a></li>
		      <li><a href = "#!/lore"> Join Our Team </a></li>
	      </ul>
	    </div>

</section>
