<section class = "TopMenu container" data-ng-controller="TopMenuController">

	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
	  <ul class ="nav navbar-nav list-inline">
	    <li>
		<button type="button" class="btn btn-default btn-default">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <a href="#!/lastest-news" >Latest news</a>
		</button>
	    </li>
	    <li> 
		<button type="button" class="btn btn-default btn-default">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> About
		</button>	  
	    </li>
	    <li> 
		<button type="button" class="btn btn-default btn-default">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Forum
		</button>	  	  
	    </li>
	    <li> 
		<button type="button" class="btn btn-default btn-default">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Donate
		</button>	  	  
	    </li>
	  </ul>
	</nav>
</section>